/*  CSS3 ✰ Classes  */
.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix,#entradas .content,.sidebar,.commentlist .comment .comment-author,#respond #commentform{zoom:1;}
.clearfix:after,#entradas .content:after,.sidebar:after,.commentlist .comment .comment-author:after,#respond #commentform:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
header{background:url("../images/header.jpg") center;height:161px;}
header .content{background:transparent}
header h1{float:left;text-align:right}
header img{float:left}
img.peru{float: right; padding: 5px 0 0 10px;}
a{color:#fff}
nav.fixed{position:fixed;top:0;z-index:5;width:100%}
#entradas{padding-top:50px;overflow:hidden;min-height:900px;}
#entradas .content{position:relative;}
.posts{float:left;width:660px}
.post{overflow:hidden;color:#000;margin-bottom:60px;}
.post .entrada{background:#fff;width:490px;float:left;padding:20px;}
.post .entrada p{font-family:Arial;margin:10px 0}
.post .entrada hr{margin:10px 0}
.post .entrada ul{padding-left:0;}
.post .entrada ul li{margin:15px 0;list-style:none;}
.post .entrada ul li:before{font-family:'icomoon';font-style:normal;speak:none;font-weight:normal;-webkit-font-smoothing:antialiased;content:"\e00e";margin-right:10px}
.post .entrada img{float:none;display:block;margin:0 auto}
.post .entrada .alignright{float:right;margin:10px 0 10px 10px}
.post .entrada .alignleft{float:left;margin:10px 10px 10px 0}
.post .entrada .date{color:#6b6b6b;font-size:14px;font-weight:normal}
.post .entrada .titulo{font-size:30px;background:#ed1c24;margin:0 -20px 20px;padding:5px 20px;font-weight:normal;color:#fff;text-shadow:2px 2px 0 #000;}
.post .entrada .titulo a{color:#fff;text-shadow:2px 2px 0 #000;text-decoration:none}
.post .entrada .mas-info{color:#000;margin-top:20px;display:block;text-decoration:none;}
.post .entrada .mas-info:before{font-family:'icomoon';font-style:normal;speak:none;font-weight:normal;content:"\e009";margin-right:10px;-webkit-font-smoothing:antialiased}
.post .entrada .post-metadata{float:right;text-align:right;}
.post .entrada .post-metadata a{color:#fff;background:#808080;text-decoration:none;padding:2px 5px;margin:3px 0;display:inline-block;zoom:1;*display:inline;}
.post .entrada .post-metadata a:hover{background:#000}
.post.post-estatico .entrada{width:615px}
.post .datos{width:60px;float:left;}
.post .datos .tipo{background-color:#ed1c24;width:60px;height:60px;display:block}
.post .datos .videos{background:#ed1c24 url("../images/videos.png") no-repeat center}
.post .datos .eventos{background:#ed1c24 url("../images/eventos.png") no-repeat center}
.post .datos .fotos{background:#ed1c24 url("../images/fotos.png") no-repeat center}
.post .datos .informacion{background:#ed1c24 url("../images/informacion.png") no-repeat center}
.post .datos .n-coment{background:#fff;width:40px;margin:10px auto;text-align:center;padding:10px 0;display:block}
.sidebar{float:left;margin-left:40px;}
.sidebar h4{background:#ed1c24;font-weight:normal;height:43px;letter-spacing:3px;line-height:43px;text-align:center;text-transform:uppercase;width:300px;margin:0px 0 20px}
.sidebar ul{background:#4e4e4e;margin:0 auto 35px;padding:0;padding:10px 0;width:265px}
.sidebar a{color:#fff;display:block;padding:5px 0;text-decoration:none;}
.sidebar a:before{font-family:'icomoon';font-style:normal;speak:none;font-weight:normal;-webkit-font-smoothing:antialiased;margin-right:20px}
.sidebar a:hover{text-decoration:underline}
.sidebar li{list-style:none;padding-left:50px}
.sidebar #menu-menu-categorias li:nth-child(1) a:before{content:"\e010"}
.sidebar #menu-menu-categorias li:nth-child(2) a:before{content:"\e002"}
.sidebar #menu-menu-categorias li:nth-child(3) a:before{content:"\e008"}
.sidebar #menu-menu-categorias li:nth-child(4) a:before{content:"\e00f"}
.sidebar .container{position:relative;width:auto;}
.sidebar .container.fixed{position:fixed;top:97px}
.post-comentarios ol,.post-comentarios ul{list-style:none}
.post-comentarios h3{background:#ed1c24;text-align:center;font-weight:normal;padding:10px 0;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.commentlist{background:#d3d3d3;color:#000;}
.commentlist a{color:#000}
.commentlist .comment{background:#fff;flaot:right;display:block;}
.commentlist .comment .comment-author{background:#4e4e4e;color:#fff;}
.commentlist .comment .comment-author a{color:#fff}
.commentlist .comment .comment-author img{float:left;margin-right:20px}
.commentlist .comment .comment-author small{line-height:46px;float:left}
.commentlist .comment .comment-author .comment-meta{margin-right:20px;float:left;line-height:42px;}
.commentlist .comment .comment-author .comment-meta:first-letter{font-size:25px;text-transform:uppercase}
.commentlist .comment .comment-text{padding:10px}
.commentlist .comment .reply{margin:0 10px 10px;float:right}
.children{width:95%;margin-left:5%;border-left:1px solid #808080;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
#respond h3{text-transform:uppercase;background:#ed1c24;padding:5px 20px;-o-border-radius:0 0 30px 0;-ms-border-radius:0 0 30px 0;-moz-border-radius:0 0 30px 0;-webkit-border-radius:0 0 30px 0;border-radius:0 0 30px 0;border-left:10px solid #1a1a1a;margin:20px 0;font-weight:normal;letter-spacing:3px;border-bottom:1px solid #1a1a1a}
#respond #commentform input,#respond #commentform textarea{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #fff));background:-o-linear-gradient(top, #eee 0%, #fff 100%);background:-ms-linear-gradient(top, #eee 0%, #fff 100%);background:-moz-linear-gradient(top, #eee 0%, #fff 100%);background:-webkit-linear-gradient(top, #eee 0%, #fff 100%);background:linear-gradient(top, #eee 0%, #fff 100%);border:1px solid #fff;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;}
#respond #commentform input:focus,#respond #commentform textarea:focus{border-color:#000}
#respond #commentform label.error{color:#f00}
#respond #commentform #comment{max-width:460px}
#respond #commentform #submit{background:#4e4e4e;border:none;border-bottom:5px solid #808080;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;cursor:pointer;float:right;font-size:12px;margin:10px 0;padding:7px 30px;text-transform:uppercase;clear:left}
#respond #commentform .left{width:200px;float:left;}
#respond #commentform .left input{width:auto;display:block}
#respond #commentform .right{width:440px;float:left}
.wp-pagenavi{margin-bottom:20px}
.paginador{float:left;clear:right;background:#fff;color:#808080;padding:0 10px;-o-border-radius:20px;-ms-border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;margin-bottom:10px;font-size:0;overflow:hidden;background:#808080;}
.paginador a{color:#808080;padding:10px 20px;text-decoration:none;font-size:13px;text-transform:uppercase;display:inline-block;zoom:1;*display:inline;background:#fff;}
.paginador a:hover{background:#808080;color:#fff}
.paginador a:nth-of-type(1){border-right:3px solid #808080}

