@import "classes.styl"
@import "nib/gradients.styl"
header
	background url('../images/header.jpg') center  
	height 161px
	.content
		background transparent
	h1 
		float left
		text-align right
	img 
		float left
a 
	color white
nav
	&.fixed
		position fixed
		top 0
		z-index 5
		width 100%
#entradas
	padding-top 50px
	overflow hidden
	.content
		position relative
		@extends .clearfix
.posts 
	float left
	width 660px

.post 
	overflow hidden
	color black
	margin-bottom 60px
	.entrada 
		background white
		width 490px
		float left
		padding 20px
		p 
			font-family Arial
			margin 10px 0
		hr 
			margin 10px 0
		ul 
			padding-left 20px
			li 
				margin 15px 0
		img 
			float none
			display block
			margin 0 auto
		.alignright 
			float right 
		.alignleft 
			float left
		.date 
			color #6b6b6b
			font-size 14px
			font-weight normal
		.titulo
			font-size 30px
			font-weight normal
			a 
				color black
				text-decoration none 
		.mas-info
			color black 
			margin-top 20px
			display block
		.post-metadata
			float right
			text-align right
			a 
				color white
				background gray
				text-decoration none
				padding 2px 5px
				margin 3px 0
				display inline-block
				&:hover 
					background black
	.datos 
		width 60px
		float left
		.tipo 
			background-color #ed1c24 
			width 60px
			height 60px
			display block 
		.videos
			background #ed1c24 url('../images/videos.png') no-repeat center
		.eventos
			background #ed1c24 url('../images/eventos.png') no-repeat center
		.fotos
			background #ed1c24 url('../images/fotos.png') no-repeat center
		.informacion
			background #ed1c24 url('../images/informacion.png') no-repeat center
		.n-coment 
			background white
			width 40px
			margin 10px auto
			text-align center
			padding 10px 0

			display block
.sidebar 
	float left
	margin-left 40px
	@extends .clearfix
	h4 
		background #ed1c24
		font-weight normal
		height 43px 
		letter-spacing 3px
		line-height 43px
		text-align center
		text-transform uppercase
		width 300px
		margin 10px 0 30px
	ul 
		background #4e4e4e
		margin 0 auto 50px auto
		padding 0 
		padding 10px 0
		width 265px
	a 	
		color white
		display block
		padding 5px 0
		text-decoration none
		&:hover 
			text-decoration underline
	li 
		list-style none
		padding-left 50px
	.container
		position relative
		width auto
		&.fixed 
			position fixed 
			top 97px
// estilos de comentarios!!!
.post-comentarios
	ol
	ul 
		list-style none
	h3 
		background #ed1c24
		text-align center
		font-weight normal
		padding 10px 0
		border-radius 5px 5px 0 0
.commentlist
	background lightgray
	//@extends .clearfix
	color black
	a 
		color black
	.comment 
		background white
		flaot right
		display block
		.comment-author
			background #4e4e4e
			@extends .clearfix
			color white 
			a 
				color white
			img 
				float left
				margin-right 20px
			small
				line-height 46px
				float left
				
			.comment-meta
				margin-right 20px
				float left
				line-height 42px

				&:first-letter 
					font-size 25px
					text-transform uppercase
		.comment-text
			padding 10px
		.reply 
			margin 0 10px 10px
			float right
		// 	opacity 0
		// &:hover 
		// 	+ .reply 
		// 		opacity 1
.children
	width 95%
	margin-left 5%
	border-left 1px solid gray
	box-sizing border-box

//formualrio de respuesta
#respond
	h3 
		text-transform uppercase
		background #ed1c24
		padding 5px 20px
		border-radius 0 0 30px 0
		border-left 10px solid #1a1a1a
		margin 20px 0
		font-weight normal
		//font-size 30px
		letter-spacing 3px
		border-bottom 1px solid #1a1a1a

	#commentform
		@extends .clearfix
		input,
		textarea
			background linear-gradient(top , #eee 0%, white 100%)
			border 1px solid white
			border-radius 5px 
			padding 10px
			box-sizing border-box
			outline 0
			&:focus 
				border-color black
		label.error
			color red
		#comment
			max-width 460px
		#submit
			background #4e4e4e
			border none 
			border-bottom 5px solid gray
			border-radius 5px
			color white 
			cursor pointer
			float right
			font-size 12px
			margin 10px 0
			padding 7px 30px
			text-transform uppercase
			clear left

		.left 
			width 200px 
			float left 
			input
				width auto
				display block
		.right 
			width 440px
			float left



//paginacion 
.wp-pagenavi
	margin-bottom 20px
.paginador
	float left
	clear right
	background white 
	color #808080
	padding 0 10px 
	border-radius 20px
	margin-bottom 10px
	font-size 0
	overflow hidden
	background #808080
	a 
		color #808080
		padding 10px 20px
		text-decoration none
		font-size 13px
		text-transform uppercase
		display inline-block
		background white
		&:hover 
			background #808080
			color white
		&:nth-of-type(1)
			border-right 3px solid #808080
		&:nth-of-type(2)
			//padding-left 10px